@model FinalProject.Models.ApplicationUser

<h2>Progress Information</h2>

<div>
    <h3>Completed Lessons</h3>
    <p>@Model.CompletedLessons</p>
</div>

<div>
    <h3>Quiz Scores</h3>
    <p>@Model.QuizScores</p>
</div>

<div>
    <h3>Learning Milestones</h3>
    <p>@Model.LearningMilestones</p>
</div>
